


<div class="container text-center">
  <div class="row">
    <h1 class="text-center">List of Tasks</h1>
    <% @tasks.each do |task| %>
    <h3> <%= link_to task.name, task_path(task)  %></h3>
    <%= link_to "Edit", edit_task_path(task), class: "btn btn-primary" %>
    <%= link_to "Delete", task_path(task),
    method: :delete,
    data: { confirm: "Are you sure?" } %>
    <% end %>
    <div style="padding: 45px">
      <%= link_to "Create a new task", new_task_path(), class: "btn btn-success"  %>
    </div>
  </div>
</div>


